
$body-font: $lato; 
$big-heading-font: $bodoni;
$small-heading-font: $lato;




img{
    max-width: 100%;
}
a{
    text-decoration: none;
}

body{
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 7.9rem;
    @media(min-width:576px){
        padding-top: 8.7rem;
    }
}

h1, h2, h3{
    font-family: $big-heading-font;
}
h4, h5, h6{
    font-family: $small-heading-font;
}
.section-title{
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 5px;
    padding-bottom: 2.1rem;
    margin-bottom: 4.2rem;
    position: relative;
    &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background-color: $pink;
        width: 7.4rem;
    }
}