/*
    Created on : Apr 11, 2021, 10:45:31 PM
    Author     : Nevena
*/

.hero-section.hero-blog{
    padding-top: 28.3rem;
    padding-bottom: 27.3rem;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 8.8rem;
}

.blog-section.blog-page{
    padding-top: 0;
    padding-bottom: 8px;
    .pagination{
        font-family: $bodoni;
        line-height: 2.4rem;
        margin-bottom: 3rem;
        .page-link{
            border:none;
        }
    }
}


