/*
    Created on : Apr 11, 2021, 1:18:49 PM
    Author     : Nevena
*/

.hero-section.fourofour{
    padding-top: 27.7rem;
    padding-bottom: 27.8rem;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

 